# Runtime
audio_cache/
bin/
data/
logs/
pubg-discord-bot/__pycache__/
pubg-discord-bot/lib/__pycache__/

# Docker
.dockerignore
Dockerfile

# Git
.git/
.gitattributes
.gitignore

# IDE
.idea/
.vscode/

#secrets
secrets.json